@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap");

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --title-fonts: "Playfair Display", serif;

  --black-color: #000000;
  --gray-dark-color: #4f4f4f;
  --gray-medium-color: #333333;
  --gray-light-color: #bdbdbd;
  --gray-footer-color: #828282;
  --orange-color: #f2994a;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 100rem;
  padding: 0 20px;
  margin: 0 auto;
}

.header-content {
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.header-content h1 {
  font-family: var(--title-fonts);
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.4rem;
}

.header-content-desc {
  margin-top: 1.2rem;
  display: flex;
  align-items: baseline;
  gap: 1.2rem;
}

.header-content-desc img {
  width: 1.3rem;
}

.header-content-desc p {
  max-width: 60rem;
  font-family: var(--primary-font);
  font-weight: 500;
  font-style: italic;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--gray-dark-color);
}

.main-recipe {
  display: flex;
  gap: 15rem;
  margin-top: 4.8rem;
}

.recipe {
  max-width: 60rem;
}

.recipe-ingredients-item {
  margin-bottom: 2.8rem;
}

.recipe-ingredients-item h2 {
  font-family: var(--title-fonts);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--gray-medium-color);
  margin-bottom: 3.2rem;
}

.recipe-ingredients-item h4 {
  font-family: var(--title-fonts);
  font-style: italic;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--gray-medium-color);
  margin-bottom: 3.2rem;
}

.cheese {
  margin-top: 3.8rem;
}

.recipe-ingredients-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  margin-bottom: 1rem;
}

.checked {
  width: 2.1rem;
  height: 2.1rem;
  border: 1px solid var(--gray-footer-color);
  border-radius: 0.6rem;
}

.recipe-ingredients-checkbox > div {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--gray-medium-color);
  max-width: 54rem;
}

.main-recipe-instructions h2 {
  font-family: var(--title-fonts);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--gray-medium-color);
  margin-bottom: 2.8rem;
}

.main-recipe-instructions-steps {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  margin-bottom: 3rem;
}

.step {
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--orange-color);
  font-family: var(--title-fonts);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #fff;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-radius: 0.6rem;
}

.step-desc {
  max-width: 53rem;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--gray-medium-color);
}

.main-recipe-preparation {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  width: 22rem;
  height: 37rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.item-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

.item-details > div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.item-details > div p:first-child {
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: var(--gray-light-color);
}

.item-details > div p:last-child {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--gray-medium-color);
}

.item-details img {
  width: 28px;
}

.recipe-font {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.recipe-font a {
  color: var(--gray-light-color);
  font-family: var(--primary-font);
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

footer {
  padding: 2rem 0;
  text-align: center;

  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--gray-footer-color);
}
